<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Inserisci il tuo username e la tua password</h6>
        </div>
         <form [formGroup]="loginForm">
            <div class="mb-3">
              <label for="exampleInputEmail" class="form-label">Email</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"> Non condivideremo mai la tua email.</div>
              <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">*Email richiesta.</span>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Password</label>
              <input formControlName="password" type="password" formControlName="password" class="form-control" id="exampleInputPassword">
              <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*Password richiesta</span>

            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
          </form>
        <a style="color: #fff; margin-top: 10px;"  routerLink="/signup-user">Non possiedi un Account ? Iscriviti.</a>
        <a style="color: #fff; margin-top: 10px;"  routerLink="/login-emp">Team shop.</a>
      </div>
    </div>
  </div>
</div>