header a {
    color: #000;
    text-decoration: none;
  }
  
  .jumbotron {
    background-color: #fff;
    padding: 5rem;
    text-align: center;
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }
  
    p {
      font-size: 1.5rem;
      font-weight: lighter;
    }
  }
  
  .btn-primary {
    background-color: #333;
    color: #fff;
    border-color: #333;
  
    &:hover {
      background-color: #fff;
      color: #333;
      border-color: #333;
    }
  }
  
  header,
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  
  body {
    padding-bottom: 60px;
    /* altezza del footer + margine */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  
  
  
  