<div class="masterDiv">
  <section>
    <h2>Chi siamo</h2>
    <img src="./assets/download.jpeg" alt="Foto del nostro salone">
    <p>Benvenuti nella Parrucchieria Nome del tuo salone, il salone di bellezza leader nella tua città. Siamo orgogliosi
      di offrire un'esperienza di alta qualità e di far sentire i nostri clienti al centro dell'attenzione.</p>
    <p>La nostra storia risale a oltre 20 anni fa, da allora abbiamo continuato a crescere e ad espanderci, diventando
      una delle destinazioni preferite dei nostri clienti.</p>
    <p>Ciò che ci rende unici è la nostra attenzione ai dettagli e la passione che mettiamo in ogni servizio che
      offriamo. Siamo appassionati di capelli e ci impegniamo a fornire un servizio personalizzato che ti farà sentire
      al tuo meglio.</p>
    <p>Inoltre, offriamo offerte speciali regolari ai nostri clienti fedeli e siamo sempre felici di rispondere alle tue
      domande o richieste di informazioni. Contattaci per ulteriori informazioni.</p>
  </section>
  <div class="image-list">
    <div class="arrow arrow-left">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="arrow arrow-right">
      <i class="fas fa-chevron-right"></i>
    </div>
    <div class="image-list-item">
      <img src="./assets/download1.jpeg" alt="Immagine 1">
    </div>
    <div class="image-list-item">
      <img src="./assets/download2.jpeg" alt="Immagine 2">
    </div>
    <div class="image-list-item">
      <img src="./assets/download3.jpeg" alt="Immagine 3">
    </div>
    <div class="image-list-item">
      <img src="./assets/images.jpeg" alt="Immagine 4">
    </div>
  </div>
  
</div>