<p>signup-emp works!</p>
<div class="container" *ngIf="!isSubscribe">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Create Employee Account</h1>
                    <h6>Enter information for the employee's new Account</h6>
                </div>

                <form [formGroup]="signupForm">
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Name</label>
                        <input formControlName="fullname" type="text" class="form-control" id="exampleInputName"
                            aria-describedby="codeHelp">
                        <span class="text-danger"
                            *ngIf="signupForm.controls['fullname'].dirty && signupForm.hasError('required', 'fullname')">*Employee
                            name is required</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Code</label>
                        <input formControlName="code" type="code" class="form-control" id="exampleInputCode"
                            aria-describedby="codeHelp">
                        <span class="text-danger"
                            *ngIf="signupForm.controls['code'].dirty && signupForm.hasError('required', 'code')">*Employee
                            Code is required</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword" class="form-label">Password</label>
                        <input formControlName="password" type="password" formControlName="password"
                            class="form-control" id="exampleInputPassword">
                        <span class="text-danger"
                            *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">*Employee
                            Password is required</span>

                    </div>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                        [disabled]="signupForm.invalid">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>