.card {
    border: none;
    width: 480px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f172a;
}

.card h1,
h6 {
    color: #fff;
}

label {
    color : #fff;
}

button {
    margin-right: 8px;
  }