<div class ="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6>Register Yourself!!</h6>
                </div>
                <form>
                    <form>
                        <div class="mb-3">
                            <label for="inputName">Full name</label>
                            <input type="text" class="form-control" id="inputName"> 
                        </div>
                        <div class="mb-3">
                            <label for="inputLastName">Full last name</label>
                            <input type="text" class="form-control" id="inputLastName"> 
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail">Email adress</label>
                            <input type="text" class="form-control" id="inputEmail"> 
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword"> 
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                    <a style="color: #fff; margin-top: 10px;" routerLink="/login">Already registered? Click to login</a>
                </form>
            </div>
        </div>
    </div>
</div>

