:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

/**
ESEMPIO CSS PER IL LOGIN : non funziona
.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(205, 46%, 30%, 1) 100%);
}

.card h1, 
h6{
    color: white;

}

label{
    color: white;
}
*/