<div class="page">
    <div class="page-box">SEZIONE PRENOTAZIONI</div>
    <div class="page-content">
        <div class="page-content-data">
            <div class="page-content-data-inner">

                <!------USER DIV--------->
                <div class="div-user" *ngIf="!isVisible">


                    <div class="button-container">
                        <button mat-raised-button class="btn-class" (click)="open = !open">Vedi
                            Calendario</button>
                        <br>
                        <br>
                        <button mat-raised-button class="btn-class" (click)="openList = !openList">Vedi le tue
                            prenotazioni
                        </button>
                    </div>

                    <!----CALENDAR FOR BOOKING-->
                    <div *ngIf="open">
                        <br>
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar></mat-calendar>
                            <button mat-raised-button class="btn-class" (click)="open = !open">
                                Chiudi
                            </button>
                        </mat-card>
                    </div>

                    <div class="div-info" *ngIf="openList">
                        <h3>ECCO LE TUE PRENOTAZIONI</h3>

                        <!----MAT ACCORDITION FOR USER BOOKINGS-->
                        <mat-accordion class="mat-according" *ngIf="bookingsUser != undefined && !searchedBooking">
                            <mat-expansion-panel hideToggle class="mat-expansion-panel"
                                *ngFor="let booking of bookingsUser">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Data prenotazione:{{booking.dataPrenotazione | date:'dd-MM-yyyy'}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>
                                    Completata : {{completata(booking)}}
                                    <br>
                                    Ora Prenotazione: {{ booking.oraPrenotazione}}
                                </mat-panel-description>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <!----MAT ACCORDITION FOR BOOKINGS SEARCHED-->
                        <mat-accordion class="mat-according" *ngIf="searchedBooking">
                            <mat-expansion-panel hideToggle class="mat-expansion-panel"
                                *ngFor="let booking of searchedBookingsUser">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Data prenotazione:{{booking.dataPrenotazione | date:'dd-MM-yyyy'}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>
                                    Completata : {{completata(booking)}}
                                    <br>
                                    Ora Prenotazione: {{ booking.oraPrenotazione}}
                                </mat-panel-description>
                            </mat-expansion-panel>
                        </mat-accordion>


                        <br>
                        <button mat-raised-button class="btn-class"
                            (click)="showFormSearchBookingUser = !showFormSearchBookingUser">Cerca
                            Prenotazione</button>


                        <!----FORM TO SEARCH A BOOKING-->
                        <form [formGroup]="form" (ngSubmit)="searchBookings()" *ngIf="showFormSearchBookingUser">
                            <br>
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>CERCA PRENOTAZIONE</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <br>
                                    <mat-form-field>
                                        <input type="date" matInput placeholder="Data Prenotazione"
                                            formControlName="dataPrenotazione">
                                    </mat-form-field>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-button type="submit">Cerca Prenotazione</button>
                                    <button mat-button (click)="closeSearchedBookingsUser()">Chiudi</button>
                                </mat-card-actions>
                            </mat-card>
                        </form>


                    </div>
                </div>


                <!-----EMPLOYEE DIV------>
                <div class="div-employee" *ngIf="isVisible">

                </div>
            </div>
        </div>
    </div>