<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Inserisci il tuo codice per accedere</h6>
        </div>
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Codice</label>
            <input formControlName="code" type="code" class="form-control" id="exampleInputCode"
              aria-describedby="codeHelp">
            <span class="text-danger"
              *ngIf="loginForm.controls['code'].dirty && loginForm.hasError('required', 'code')">*Il Codice è richiesto.</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input formControlName="password" type="password" formControlName="password" class="form-control"
              id="exampleInputPassword">
            <span class="text-danger"
              *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*La password è richiesta.</span>
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()"
            [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>