<div class="container">
  
  <div class="explainPage">
    <h2>Nostri Prodotti</h2>
    <h3>Qui sottostante, un piccolo elenco di prodotti <br>
    che usiamo per i nostri trattamenti</h3>
  </div>

    <div class="card-deck">
      <div class="card" *ngFor="let product of products">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-muted">{{product.price}} €</small></p>
        </div>
      </div>
    </div>
  </div>