<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">SEZIONE TESSERA</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="container">
        <div class="div-employee" *ngIf="isVisible">
          <h3>HELLO NOME</h3>
          <mat-accordion class="mat-according">
            <mat-expansion-panel hideToggle class="mat-expansion-panel" *ngFor="let card of clientiCarte">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Tessera : {{card.codice}}
                </mat-panel-title>
                <mat-panel-description>
                  Points: {{card.punti}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Alessio Giacche</p>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="text-operation">
          </div>
          <div class="button-container">
            <button mat-raised-button class="btn-class" (click)="addClient() ">Aggiungi Tessera</button>
            <button mat-raised-button class="btn-class" (click)="searchClient()">Cerca Tessera</button>
            <button mat-raised-button class="btn-class" (click)="addPoints()">Aggiungi Punti</button>
          </div>
        </div>

        <div class="div-user" *ngIf="!isVisible">
          <h3>HELLO USER</h3>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
  <div class="container" *ngIf="!isUser">
  <h2 class="section-title">SEZIONE TESSERE</h2>
  <mat-accordion class="mat-according">
    <mat-expansion-panel hideToggle class="mat-expansion-panel" *ngFor="let card of clientiCarte">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tessera : {{card.codice}}
        </mat-panel-title>
        <mat-panel-description>
          Points: {{card.punti}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Alessio Giacche</p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="text-operation">
  </div>
  <div class="button-container">
    <button mat-raised-button class="btn-class" (click)="addClient() ">Aggiungi Tessera</button>
    <button mat-raised-button class="btn-class" (click)="searchClient()">Cerca Tessera</button>
    <button mat-raised-button class="btn-class" (click)="addPoints()">Aggiungi Punti</button>
  </div>
</div>

<div class="containerTwo" *ngIf="!isEmployee && isUser">
  <h3>CIAO USER</h3>
</div>
-->