<div class="masterDiv" *ngIf="userType instanceof Employee">
    <h2>SEZIONE CARTE</h2><br>
    <p>In questa pagina, puoi vedere le tessere dei tuoi clienti,
        creare una nuova tessera, o assegnare punti ad un Cliente.
    </p>
    <h3>CREA CARTA</h3>
    <button mat-raised-button color="primary">CREA CARTA CLIENTE</button>
    <br>
    <h3>VEDI CARTE CLIENTI</h3>
    <button mat-raised-button color="primary" (click)="setShowCard()">VEDI CARTE</button>
    <br>
    <div *ngIf="showCard">
        <p>Ecco la lista delle carte dei tuoi clienti.</p>
        <mat-card class="cards" *ngFor="let card of clientiCards">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{card.idUtente}}</mat-card-title>
                <mat-card-subtitle>{{card.codice}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button>ADD POINTS</button>
            </mat-card-actions>
        </mat-card>
    </div>


</div>






<div class="user" *ngIf="userType instanceof User">
    <div class="listaPremi">

    </div>
</div>