<div class="masterDiv">
    <div class="introDiv">
        <h2>INFORMAZIONI</h2>
        <div class="col-md-4">
            <h2>Orari di apertura</h2>
            <ul>
                <li>Lunedì: chiuso</li>
                <li>Martedì - Sabato: 09:00 - 19:00</li>
                <li>Domenica: 10:00 - 16:00</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Servizi offerti</h2>
            <ul>
                <li>Taglio</li>
                <li>Colore</li>
                <li>Piega</li>
                <li>Trattamenti per la cura dei capelli</li>
                <li>Acconciature per cerimonie</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Il team</h2>
            <p>Il nostro team di professionisti qualificati e specializzati è pronto ad accogliervi e soddisfare ogni
                vostra esigenza.</p>
        </div>
        <div class="col-md-4">
            <h2>Recensioni dei clienti</h2>
            <ul>
                <li>"Molto professionale e gentile. Ho trovato finalmente il parrucchiere giusto per me!" - Maria</li>
                <li>"Ho fatto un taglio e colore e sono stata molto soddisfatta del risultato. Consiglio vivamente
                    questo salone!" - Giulia</li>
            </ul>
        </div>
        <div id="map"></div>
    </div>
</div>

